apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: default
  labels: { app: user-service }
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: 1
  selector:
    matchLabels: { app: user-service }
  template:
    metadata:
      labels: { app: user-service }
    spec:
      serviceAccountName: user-service
      volumes:
        - name: app-config
          secret:
            secretName: user-service-app-yml
      containers:
        - name: user-service
          image: ghcr.io/mihaicatalin22/questify-user-service:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8080
          volumeMounts:
            - name: app-config
              mountPath: /config
              readOnly: true
          env:
            - { name: SPRING_PROFILES_ACTIVE, value: "prod" }
            - { name: SPRING_APPLICATION_NAME, value: "user-service" }
            - { name: SPRING_CONFIG_ADDITIONAL_LOCATION, value: "/config/" }

            - { name: SERVER_PORT, value: "8080" }
            - { name: MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE, value: "health,info,prometheus" }
            - { name: MANAGEMENT_HEALTH_PROBES_ENABLED, value: "true" }
            - { name: SPRING_DATASOURCE_URL, value: "jdbc:mysql://mysql:3306/userdb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC" }
            - { name: SPRING_DATASOURCE_USERNAME, value: "root" }
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom: { secretKeyRef: { name: mysql-root, key: password } }  # use MYSQL_ROOT_PASSWORD if that's your key

            - { name: OIDC_ISSUER, value: "https://questify.tail03c40b.ts.net/auth/realms/questify" }
            - { name: OIDC_JWKS,   value: "https://questify.tail03c40b.ts.net/auth/realms/questify/protocol/openid-connect/certs" }

            - { name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI, value: "https://questify.tail03c40b.ts.net/auth/realms/questify" }

            - { name: JAVA_OPTS, value: "-XX:MaxRAMPercentage=75 -XX:+AlwaysActAsServerClassMachine" }

          startupProbe:
            httpGet: { path: /actuator/health/liveness, port: http }
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 120
          readinessProbe:
            httpGet: { path: /actuator/health/readiness, port: http }
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 12
          livenessProbe:
            httpGet: { path: /actuator/health/liveness, port: http }
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
          resources:
            requests: { cpu: "100m", memory: "256Mi" }
            limits:   { cpu: "500m", memory: "512Mi" }