apiVersion: apps/v1
kind: Deployment
metadata:
  name: quest-service
  namespace: default
spec:
  template:
    spec:
      containers:
      - name: quest-service
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
