apiVersion: apps/v1
kind: Deployment
metadata:
  name: quest-service
  namespace: default
spec:
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    spec:
      containers:
        - name: quest-service
          env:
            - name: SUBMISSION_SERVICE_BASE
              value: http://submission-service/api
            - name: INTERNAL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: internal-token
                  key: token
            - name: SECURITY_INTERNAL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: internal-token
                  key: token
