apiVersion: apps/v1
kind: Deployment
metadata:
  name: submission-service
  namespace: default
spec:
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    spec:
      containers:
        - name: submission-service
          env:
            - name: QUEST_SERVICE_BASE
              value: http://quest-service
            - name: PROOF_SERVICE_BASE
              value: http://proof-service/api
            - name: INTERNAL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: internal-token
                  key: token
            - name: SECURITY_INTERNAL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: internal-token
                  key: token
            - name: SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE
              value: 100MB
            - name: SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE
              value: 100MB
            - name: SERVER_TOMCAT_MAX_HTTP_FORM_POST_SIZE
              value: "104857600"
            - name: SERVER_TOMCAT_MAX_SWALLOW_SIZE
              value: "-1"
